table,tr,td {
	border: 1px solid black;
}

table,tr {
	width: 90vw;
}

pre {
	max-width: 88vw;
	max-height: 40ch;
	overflow: auto;
}

.error {
	background-color: lightpink;
}

.warning {
	background-color: wheat;
}

.info {
	background-color: lightgray;
}

.view {
	width: auto;
}
