table,tr,td {
	border: 1px solid black;
}

table,tr {
	width: 90%;
}

td {
	max-width: 80ch;
}

pre {
	max-width: 100%;
	max-height: 40ch;
	overflow: auto;
}

.error {
	background-color: lightpink;
}

.warning {
	background-color: wheat;
}

.info {
	background-color: lightgray;
}
